<div>
    <h5> <%= climb.name %> </h5>
    <h5> <%= climb.grade.rating %> </h5>
    <h5> <%= climb.location %> </h5>
    <h5> <%= climb.climb_type.name %> </h5> 
    <%= button_to "See Climb", climb_path(climb),:method => :get %><br> <br> 
</div>