<% @climbs.advanced_climbs.each do |climb| %>
  <h5> <%= climb.name %> </h5>
  <h5> <%= climb.grade.rating %> </h5>
  <h5> <%= climb.location %> </h5>
  <h5> <%= climb.climb_type.name %> </h5> 
  <%= link_to climb_path(climb)%><br> 
<% end %>
  