<br>
<%= link_to "Sport climbs", climb_type_climbs_path(1)%> <br>
<%= link_to "Boulder climbs", climb_type_climbs_path(2)%> <br>
<%= link_to "Trad climbs", climb_type_climbs_path(3)%> <br> <br> 
<%= link_to "Add new Sport climb", new_climb_type_climb_path(1)%> <br>
<%= link_to "Add new Boulder climb", new_climb_type_climb_path(2)%> <br>
<%= link_to "Add new Trad climb", new_climb_type_climb_path(3)%> <br> <br>
<%= link_to "Advanced climbs", grades_path%>



<% @climbs.each do |climb| %>
  <h5> <%= "Climb: #{climb.name}" %> </h5> 
  <h5> <%= "Grade: #{climb.grade.rating}" %> </h5> 
  <h5> <%= "Crag: #{climb.location}" %> </h5> 
  <h5> <%= "Type: #{climb.climb_type.name}" %> </h5>
  <%= button_to "See climb", climb_path(climb), method: :get %> <br> <br>

<% end %>