<br>
<% @climbs.each do |climb| %>
  <h5> <%= "Climb: #{climb.name}" %> </h5> 
  <h5> <%= "Grade: #{climb.grade.rating}" %> </h5> 
  <h5> <%= "Crag: #{climb.location}" %> </h5> 
  <h5> <%= "Type: #{climb.climb_type.name}" %> </h5>
  <%= button_to "Comments", climb_path(climb), method: :get %> <br> <br>

<% end %>