<%= form_for @climb do |f|%>
  <br>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br>
  <br>
  <div>
    <%= f.label :difficulty %>
    <%= f.text_field :difficulty %>
  </div>
  <br>
  <br>
  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <br>
  <br>
  <div>
    <%= f.collection_select :climb_type_id, ClimbType.all, :id, :name, include_blank: "Select Climb Type"%>
  </div> 
  <br>
  <%= f.submit %>
<% end %>
