<%= form_for [@climb_type, @climb] do |f|%>
  <br>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br>
  <br>
  <div>
    <%= f.collection_select :grade_id, Grade.all, :id, :rating, include_blank: "Select Grade"%>
  </div>
  <br>
  <br>
  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <br>
    <%= f.hidden_field :climb_type_id%>
  <%= f.submit %>
  
<% end %>

<script>$(document).ready(function(){
    $('select').formSelect();
  });</script>


