<nav class="red darken-3">
    <div class="nav-wrapper" >
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
            <li> <%= current_user.email %> </li>
            <li> <%= link_to "Logout", destroy_user_session_path, method: "DELETE" %></li>
            <li> <%= link_to "Home", root_path %> </li>
            <li> <%= link_to "Add Climb", new_climb_path  %></li>
            <li> <%= link_to "All Climbs", climbs_path  %></li>
          <% else %>
            <li> <%= link_to "Sign up", new_user_registration_path %> </li>
            <li> <%= link_to "Sign in", new_user_session_path %> </li>
            <li> <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, method: :post %> </li>
          <% end %>
      </ul>
    </div>
</nav>