<!DOCTYPE html>
<html>
  <head>
    <title>ClimbApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
            <li> <%= current_user.email %> </li>
            <li> <%= link_to "Logout", destroy_user_session_path, method: "DELETE" %></li>
            <li> <%= link_to "Home", root_path %> </li>
            <li> <%= link_to "Add Climbs", new_climb_path  %></li>
            <li> <%= link_to "All Climbs", climbs_path  %></li>
          <% else %>
            <li> <%= link_to "Sign up", new_user_registration_path %> </li>
            <li> <%= link_to "Sign in", new_user_session_path %> </li>
          <% end %>
      </ul>
    </div>
  </nav>
    
    <%= yield %>
  </body>
</html>
