<!DOCTYPE html>
<html>
  <head>
    <title>ClimbApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
            
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  
  </head>
    


  <body class = "container">
    <br>
    <nav class="red darken-3">
    <div class="nav-wrapper" >
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
            <li> <%= current_user.email %> </li>
            <li> <%= link_to "Logout", destroy_user_session_path, method: "DELETE" %></li>
            <li> <%= link_to "Home", root_path %> </li>
            <li> <%= link_to "Add Climbs", new_climb_path  %></li>
            <li> <%= link_to "All Climbs", climbs_path  %></li>
          <% else %>
            <li> <%= link_to "Sign up", new_user_registration_path %> </li>
            <li> <%= link_to "Sign in", new_user_session_path %> </li>
          <% end %>
      </ul>
    </div>
  </nav>
  <% unless current_user %> 
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
  <% else %>
    <%= current_user[:name] %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% end %>

  <% if flash[:error] %>
    <% flash[:error].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

  <%= content_tag("p", flash[:notice]) if flash[:notice] %>
    
    <%= yield %>
  </body>
</html>




