<!DOCTYPE html>
<html>
  <head>
    <title>ClimbApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/climbs/new">Add Climbs</a></li>
        <li><a href="/climbs">All Climbs</a></li>
      </ul>
    </div>
  </nav>
    
    <%= yield %>
  </body>
</html>
